* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
}

/* common */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    text-align: center;
    font-size: 1.6rem;
    background: #171100;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* ============ header ========== */

.header {
    background-color: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .nav {
    margin-left: auto;
}

.header.fixed {
    position: sticky;
    top: -32px;
    z-index: ;
}

.header .nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}
.nav li.active a {
    position: relative;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    color: #171100;
}
.nav li.active a::after {
    position: absolute;
    display: block;
    bottom: 6px;
    left: 21px;
    margin-right: auto;
    content: "";
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ============ hero ========== */

.hero {
    padding: 56px 0 65px 0;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .hero-summary {
    position: absolute;
    width: 270px;
    bottom: 48px;
    right: 0;
    padding: 24px;
    /* text-align: center; */
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-last-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-last-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    color: #5f5b53;
}

.hero-summary .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

/* hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .heading {
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
    color: #171100;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .cta-ground {
    display: flex;
    margin: 38px 0 48px 0;
    align-items: center;
}

.hero .cta-ground .hero-cta {
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background: #ffb900;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    padding-right: 8px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}
.hero .stats span strong {
    padding-left: 28px;
}

/* ============ Popular ========== */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
}

.popular-top .heading {
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    color: #171100;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    margin-left: auto;
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    margin: 16px 22px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .info .head,
.popular .course-item .info .head .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .info .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .course-item .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}
